<div class="center hero-unit">
<%= provide(:title,"Home")%>
<html>
<!DOCTYPE html>
<head>
</head>
	<body>
		<h1>Welcome!</h1>
<h2>Created in Ruby On Rails</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</body>

</div>
</html>
